  .image-carousel {
    position: relative;
  }
  
  .carousel-image-container {
    position: relative;
    max-width: 1240px;
    height: 415px; /* Hauteur de l'image */
    overflow: hidden; /* Masquer tout ce qui dépasse de la boîte du carrousel */
  }
  
  .carousel-image-container img {
    max-width: none; /* Supprimer la limitation de la largeur de l'image */
    width: 100%; /* Remplir complètement la largeur du conteneur */
    height: 100%; /* Remplir complètement la hauteur du conteneur */
    object-fit: cover;
  }
  
  .carousel-number {
    position: absolute;
    bottom: 10px; /* Ajustez la position verticale du numéro */
    left: 50%; /* Ajustez la position horizontale du numéro */
    font-size: 24px; /* Taille de la police du numéro */
    color: white; /* Couleur du numéro */
    z-index: 2; /* Numéro au-dessus des chevrons */
  }
  
  .carousel-chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px; /* Taille de la police des chevrons (augmentée) */
    color: white; /* Couleur des chevrons */
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les chevrons */
    padding: 10px; /* Espace autour des chevrons */
    cursor: pointer;
    z-index: 1; /* Les chevrons sont en dessous du numéro */
  }
  
  .carousel-chevron.left {
    left: 20px; /* Position à gauche de l'image */
  }
  
  .carousel-chevron.right {
    right: 20px; /* Position à droite de l'image */
  }
  