.card {
    width: 340px;
    height: 340px;
    display: flex;
}

.card a {
    position: relative;
}

.card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent 66%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: left;
}
