.footer {
    max-width: 1440px;
    height: 210px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer img {
    margin: 40px;
    width: 122px;
    height: 40px;
}

.footer h2 {
    color: white;
}
