@media screen and (max-width: 375px) {
    /* -----NAVBAR----- */
    .navbar{
        margin: 20px 20px;
    }
    .navbar img {
        width: 145px;
    }
    .nav-link {
        font-size: 12px;
        margin-left: 40px;
    }

    /* -----HOME----- */
    .home{
        margin: 20px 20px;
        padding: 0;
        flex-direction: column;
        background-color: white;
        gap: 20px;
    }

    /* -----CARD----- */
    .card {
        width: 335px;
        height: 335px;
    }

    /* -----BANNER----- */
    .banner {
        margin: 0 20px;
        height: 111px;
    }
    .banner::before {
        border-radius: 10px;
    }
    
    .banner img {
        border-radius: 10px;
    }
    .banner h1 {
        font-size: 24px;
        text-align: left;
    }

    /* -----FOOTER----- */
    .footer img {
        margin: 0 0 20px 0;
    }
    .footer h2 {
        font-size: 12px;
        width: 30%;
    }

    /* -----PRODUCT----- */
    .product {
        margin: 0 20px;
    }
    .product-collapse{
        flex-direction: column;
        gap: 20px;
    }
    .product-collapse > .collapse {
        width: 100%;
        margin: 0;
    }

    /* -----SLIDER----- */
    .slider-image-container {
        height: 255px;
    }
    .slider-number {
        z-index: -1;
    }
    .slider-image-container img {
        border-radius: 10px;
    }
    .fa-angle-left,
    .fa-angle-right {
        font-size: 50px;
    }

    /* -----INFO-CARD----- */
    .info-card {
        flex-direction: column;
    }
    .info-card_left {
        flex-basis: 100%;
        gap: 5px;
        width: 100%;
    }
    .info-card_left h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    .info-card_right {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
    }
    .info-card_right img {
        width: 32px;
        height: 32px;
    }
    .info-card p {
        font-size: 14px;
    
    }

    /* -----TAG----- */
    .tag {
        max-width: 84px;
        height: 18px;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 10px;
        line-height: 17px;
    }

    /* -----RATING----- */
    .rating {
        font-size: 15px;
    }
    .star {
        margin-left: 0;
        margin-right: 5px;
    }

    /* -----COLLAPSE----- */
    .collapse {
        margin: 20px 10px;
    }
    .collapse-button {
        border-radius: 5px;
        font-size: 12px;
        height: 30px;
    }
    .open .collapse-content {
        font-size: 14px;
    }
    .fa-angle-up {
        font-size: 25px;
    }

    /* -----ERROR----- */
    .error h2 {
        font-size: 96px;
    }
    .error p {
        font-size: 18px;
        text-align: center;
        width: 60%;
    }
    .error a {
        font-size: 14px;
        margin: 50px;
    }
}
